body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.container h1 {
  font-size: 24px;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  -webkit-text-fill-color: transparent;
}

.container input[type='text'] {
  width: calc(100% - 100px);
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.container #add-btn {
  padding: 15px;
  border: none;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.container #add-btn:hover {
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.container ul {
  list-style: none;
  padding: 0;
}

.container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.container ul li.done {
  text-decoration: line-through;
  color: #777;
}

.container ul li button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.container ul li button.delete {
  color: #dc3545;
}

.container ul li button.delete:hover {
  color: #c82333;
}

.container ul li button.update {
  color: #ff9800;
}

.container ul li button.update:hover {
  color: #ff5722;
}

.container ul li button.done {
  color: #28a745;
}

.container ul li button.done:hover {
  color: #218838;
}
